 always-auth=true
 @stix:registry=https://nexus.base.soustix.com.br/repository/npm-private
 //nexus.base.soustix.com.br/repository/:_authToken=NpmToken.93a79a71-d826-3356-ad75-715944b53e0c
 //nexus.base.soustix.com.br/repository/npm-group/:_authToken=NpmToken.93a79a71-d826-3356-ad75-715944b53e0c
 //nexus.base.soustix.com.br/repository/npm-private/:_authToken=NpmToken.93a79a71-d826-3356-ad75-715944b53e0c
